<html lang="eng">
<head>
    <style>
        body {
            background: black;
        }

        h1 {
            color: lightcyan;
        }

        p {
            color: red;
        }

        button {
            color: black
        }


    </style>
    <title>Unicus</title>
</head>
<h1>Unicus Trading</h1>
<body>
<button id="register-btn" onclick="exnessPage()">register</button>
<button id="login-btn" onclick="login()">login</button>
<script>
    exnessPage = () => {
        window.location.href = 'https://one.exnesstrack.com/a/uaku4l8t'
    }
    login = ()=>{
        
    }
</script>
</body>
</html>
